@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --main-font: 'Verdana', sans-serif;
    --standard-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-dark: #8246af;
    --bg-mid: #ffba00;
    --bg-light: #f0f0f0;
    --dark-font: #8246af;
    --shadow-font: #444444;
    --light-font: #ffba00;
    --primary-color: #083fd0;
    --secondary-color: #ffba00;
    --tertiary-color: #fdeca7;
    --primary-shadow: #8246af;
    --secondary-shadow: #ffba00;
    --tertiary-shadow: #ffba00;
    --highlight-color: #000000;
    --box-shadow-main: 0px 2px 15px 2px var(--primary-shadow);
    --box-shadow-secondary: 0px 2px 15px 2px var(--secondary-shadow);
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
}

body {
    background-color: var(--bg-light);
    font-family: var(--main-font);
    color: var(--dark-font);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    border-radius: 5px;
}

h1 {
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
    font-size: 3rem; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: var(--dark-font)
}

a, p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    margin: 2px;
}

button {
    background-color: var(--bg-dark);
}

